body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

h1 {
  margin-top: 20px;
}

canvas {
  background: #000;
  border: 3px solid #00ff99;
  margin-top: 15px;
}

button {
  margin-top: 15px;
  padding: 12px 28px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #00ff99;
  transition: 0.3s;
}

button:hover {
  background: #00cc77;
  transform: scale(1.08);
}
